---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=Vodka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"''57 Chevy with a White License Plate","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qyyvtu1468878544.jpg","idDrink":"14029"},{"strDrink":"155
        Belmont","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/yqvvqs1475667388.jpg","idDrink":"15346"},{"strDrink":"501
        Blue","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ywxwqs1461867097.jpg","idDrink":"17105"},{"strDrink":"A
        Gilligan''s Island","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/wysqut1461867176.jpg","idDrink":"16943"},{"strDrink":"A
        midsummernight dream"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Screwdriver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12162","strDrink":"Screwdriver","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrinkZH-HANT":null,"strTags":"IBA","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":"Unforgettables","strAlcoholic":"Alcoholic","strGlass":"Highball
        glass","strInstructions":"Mix in a highball glass with ice. Garnish and serve.","strInstructionsES":null,"strInstructionsDE":null,"strInstructionsFR":null,"strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/8xnyke1504352207.jpg","strIngredient1":"Vodka","strIngredient2":"Orange
        juice","strIngredient3":"","strIngredient4":"","strIngredient5":"","strIngredient6":"","strIngredient7":"","strIngredient8":"","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strMeasure1":"2
        oz ","strMeasure2":"","strMeasure3":"","strMeasure4":"","strMeasure5":"","strMeasure6":"","strMeasure7":"","strMeasure8":"","strMeasure9":"","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","dateModified":"2017-09-02
        12:36:47"},{"idDrink":"12091","strDrink":"Rum Screwdriver","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrinkZH-HANT":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Highball glass","strInstructions":"Pour
        rum into a highball glass over ice cubes. Add orange juice, stir, and serve.","strInstructionsES":null,"strInstructionsDE":null,"strInstructionsFR":null,"strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/4c85zq1511782093.jpg","strIngredient1":"Light
        rum","strIngredient2":"Orange juice","strIngredient3":"","strIngredient4":"","strIngredient5":"","strIngredient6":"","strIngredient7":"","strIngredient8":"","strIngredient9":"","strIngredient10":"","strIngredient11":"","strIngredient12":"","strIngredient13":"","strIngredient14":"","strIngredient15":"","strMeasure1":"1
        1\/2 oz ","strMeasure2":"5 oz ","strMeasure3":" ","strMeasure4":" ","strMeasure5":"
        ","strMeasure6":" ","strMeasure7":" ","strMeasure8":"","strMeasure9":"","strMeasure10":"","strMeasure11":"","strMeasure12":"","strMeasure13":"","strMeasure14":"","strMeasure15":"","dateModified":"2017-11-27
        11:28:14"}]}'
  recorded_at: Sun, 26 May 2019 19:48:59 GMT
[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Godchild
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11422","strDrink":"Godchild","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrinkZH[...]
[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15184","strDrink":"San Francisco","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Atomic%20Lokade
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13086","strDrink":"Atomic Lokade","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Orange%20Whip
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16995","strDrink":"Orange Whip","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"st[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Zipperhead
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16942","strDrink":"Zipperhead","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDri[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=National%20Aquarium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13192","strDrink":"National Aquarium","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HA[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Harvey%20Wallbanger
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11462","strDrink":"Harvey Wallbanger","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HA[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Arctic%20Fish
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14622","strDrink":"Arctic Fish","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"st[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Victory%20Collins
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12452","strDrink":"Victory Collins","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Irish%20Curdling%20Cow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16987","strDrink":"Irish Curdling Cow","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZ[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Arizona%20Twister
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17074","strDrink":"Arizona Twister","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Radioactive%20Long%20Island%20Iced%20Tea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16984","strDrink":"Radioactive Long Island Iced
        Tea","strDrinkAlternate":null,"strDrinkES":null,"strDr[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Arizona%20Antifreeze
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16354","strDrink":"Arizona Antifreeze","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Cherry%20Electric%20Lemonade
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17174","strDrink":"Cherry Electric Lemonade","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":nul[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Gideon%27s%20Green%20Dinosaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17002","strDrink":"Gideon''s Green Dinosaur","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":nu[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=%2757%20Chevy%20with%20a%20White%20License%20Plate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14029","strDrink":"''57 Chevy with a White License
        Plate","strDrinkAlternate":null,"strDrink[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Jello%20shots
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14956","strDrink":"Jello shots","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"st[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Oreo%20Mudslide
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13499","strDrink":"Oreo Mudslide","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=155%20Belmont
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15346","strDrink":"155 Belmont","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"st[...]
[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Bloody%20Mary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11113","strDrink":"Bloody Mary","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"st[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Caribbean%20Orange%20Liqueur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12796","strDrink":"Caribbean Orange Liqueur","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":nul[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Vodka%20Martini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14167","strDrink":"Vodka Martini","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=501%20Blue
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17105","strDrink":"501 Blue","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrink[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Army%20special
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17066","strDrink":"Army special","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Ice%20Pick%20%231
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13539","strDrink":"Ice Pick #1","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=French%20Martini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17213","strDrink":"French Martini","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":nu[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Long%20Island%20Iced%20Tea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17204","strDrink":"Long Island Iced Tea","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"str[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Absinthe%20%232
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12790","strDrink":"Absinthe #2","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Zorbatini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16963","strDrink":"Zorbatini","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrink[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Dirty%20Martini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17181","strDrink":"Dirty Martini","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Blue%20Lagoon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11117","strDrink":"Blue Lagoon","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"st[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Orange%20Crush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15330","strDrink":"Orange Crush","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Screaming%20Orgasm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13625","strDrink":"Screaming Orgasm","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Vesper
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17218","strDrink":"Vesper","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrinkZH-HAN[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Bellini%20Martini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16176","strDrink":"Bellini Martini","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Kamikaze
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11600","strDrink":"Kamikaze","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrinkZH[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Pink%20Panty%20Pulldowns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13535","strDrink":"Pink Panty Pulldowns","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDr[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Godmother
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11424","strDrink":"Godmother","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strDrink[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Kool-Aid%20Shot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13190","strDrink":"Kool-Aid Shot","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Addison%20Special
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14272","strDrink":"Addison Special","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Vodka%20And%20Tonic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12460","strDrink":"Vodka And Tonic","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Irish%20Russian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17015","strDrink":"Irish Russian","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Bruised%20Heart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16998","strDrink":"Bruised Heart","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=White%20Russian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12528","strDrink":"White Russian","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Flaming%20Dr.%20Pepper
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13202","strDrink":"Flaming Dr. Pepper","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZ[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Long%20vodka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13196","strDrink":"Long vodka","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"strD[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Adam%20Sunrise
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15567","strDrink":"Adam Sunrise","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Atlantic%20Sun
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13423","strDrink":"Atlantic Sun","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrinkZH-HANS":null,"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=Cosmopolitan%20Martini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14133","strDrink":"Cosmopolitan Martini","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkFR":null,"strDrin[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?s=A.D.M.%20(After%20Dinner%20Mint)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14560","strDrink":"A.D.M. (After Dinner Mint)","strDrinkAlternate":null,"strDrinkES":null,"strDrinkDE":null,"strDrinkF[...]
[...]
