---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Your+order+to+RNDC+has+been+placed.+You+have+ordered+the+following+items%3A+4+Item+159s%2C+2+Item+160s&From=%2B17203303270&To=%2B17205038000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwZGVjYTZjZDhmNWE2MzUxNTI5MTAzZTg4MmMzOTg0MTpiNTg2NGMxNGQxYTUyYzI3N2VmNjhjMjE4OWM3NThlNQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQfd129037a64640939ab30d9d153498ad
      Twilio-Request-Duration:
      - '0.115'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM97b1be3d6bbf47b1856dd98342076e70", "date_created": "Sun,
        26 May 2019 19:04:22 +0000", "date_updated": "Sun, 26 May 2019 19:04:22 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+17205038000",
        "from": "<TWILIO_PHONE_NUMBER>", "messaging_service_sid": null, "body": "Sent
        from your Twilio trial account - Your order to RNDC has been placed. You have
        ordered the following items: 4 Item 159s, 2 Item 160s", "status": "queued",
        "num_segments": "1", "num_media": "0", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM97b1be3d6bbf47b1856dd98342076e70.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM97b1be3d6bbf47b1856dd98342076e70/Media.json"}}'
  recorded_at: Sun, 26 May 2019 19:04:22 GMT
recorded_with: VCR 4.0.0
