Login Screen             |  Selecting Inventory
:-------------------------:|:-------------------------:
<img src="/public/images/user_interface_gifs/login.gif" alt="Login Screen">  |  <img src="/public/images/user_interface_gifs/inventoryItems.gif" alt="Selecting Inventory">
**View Margin/Profits**             |  **Place Order**
<img src="/public/images/user_interface_gifs/editInventory.gif" alt="View Margin Profits">  |  <img src="/public/images/user_interface_gifs/placeOrder.gif" alt="Place Order">
**Account Information**             |  **Reorder**
<img src="/public/images/user_interface_gifs/accountInfo.gif" alt="Account Information">  |  <img src="/public/images/user_interface_gifs/reorder.gif" alt="Reorder">


Endpoint documentation can be found on Swagger.
